services:
    web:
        build: .
        image: task5-image
        ports:
            - '3000:3000'
        env_file:
            - .env
        environment:
            - NODE_ENV=production
        restart: always
